.exam {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.exam>.view-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.exam>.edit-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.exam-area {
    padding: 12px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 10px;
}

.exam-area>.item-name {
    font-weight: 700;
}

.exam-area>.item-value {
    width: 100%;
}